.provider {
  width: 145px;
  margin: 0px 5px 10px 5px;
  height: 50px;
  border-style: solid;
  border-radius: 10px;
  font-size: 15px;
}

#google {
  background-color: white;
  color: black;
}

#facebook {
  background-color: #3c5899;
  color: white;
}
