.provider {
  width: 145px;
  margin: 0px 5px 10px 5px;
  height: 50px;
  border-style: solid;
  border-radius: 10px;
  font-size: 15px;
}

#google {
  background-color: #f2f2f2;
  color: black;
}

#google:hover {
  cursor: pointer;
  opacity: 90%;
}

#facebook {
  background-color: #3a559f;
  color: white;
}

#facebook:hover {
  cursor: pointer;
  opacity: 90%;
}
